<h1>
	<a target="_blank" href="https://www.youtube.com/watch?v=mKli0y-Xr-Q">Candy Shoppe</a>
</h1>

<div class="container">
	<% for( var i = 0; i < candies.length; i++ ) {  %>
	<ul>
	  <li><b>Name : </b> <%= candies[ i ].name %></li>
	  <li><b>Color : </b> <%= candies[ i ].color %></li>
	</ul>
<% } %>
</div>

<hr>
